.119_6156 { 
	overflow:hidden;
}
.e119_6156 { 
	width:140px;
	height:140px;
	position:absolute;
}
.e74_3193 { 
	width:70px;
	height:70px;
	position:absolute;
	left:35px;
	top:0px;
}
.74_3194 { 
	overflow:hidden;
}
.e74_3194 { 
	/* border-radius:500px; */
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e74_3195 { 
	border-radius:50%;
	width:136.111083984375px;
	height:91.3888931274414px;
	position:absolute;
	left:-40.599998474121094px;
	top:-14.699999809265137px;
    background-image: url(../images/shutterstock_640011838_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e74_3196 { 
	color:rgba(58.00000034272671, 58.00000034272671, 58.00000034272671, 1);
	width:64px;
	height:23px;
	position:absolute;
	left:38px;
	top:86px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e74_3197 { 
	color:rgba(58.00000034272671, 58.00000034272671, 58.00000034272671, 1);
	width:140px;
	height:23px;
	position:absolute;
	left:0px;
	top:117px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}





.75_3428 { 
	overflow:hidden;
}
.e75_3428 { 
	width:244px;
	height:46px;
	position:absolute;
}
.e75_3425 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 250.00000029802322, 1);
	width:244px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e74_3211 { 
	color:rgba(20.000000707805157, 21.000000648200512, 34.00000177323818, 1);
	width:100px;
	height:23px;
	position:absolute;
	left:56px;
	top:11px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e75_3426 { 
	transform: rotate(-180deg);
	background-color:rgba(132.0239308476448, 132.0239308476448, 132.0239308476448, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:188px;
	top:27px;
}

.632_12646 { 
	overflow:hidden;
}
.e632_12646 { 
	width:760px;
	height:55px;
	position:absolute;
}
.e632_12647 { 
	box-shadow:0px 20px 30px rgba(166.75937175750732, 208.95337164402008, 232.68750607967377, 0.44999998807907104);
	background-color:rgba(199.75000709295273, 199.75000709295273, 199.75000709295273, 0.11999999731779099);
	width:760px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.632_12647 { 
	border:1px solid rgba(240.20800173282623, 240.20800173282623, 240.20800173282623, 1);
}
.e632_12648 { 
	color:rgba(20.000000707805157, 21.000000648200512, 34.00000177323818, 1);
	width:144px;
	height:16.923076629638672px;
	position:absolute;
	left:38px;
	top:18.615385055541992px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e632_12649 { 
	color:rgba(20.000000707805157, 21.000000648200512, 34.00000177323818, 1);
	width:32px;
	height:16.923076629638672px;
	position:absolute;
	left:325px;
	top:18.615385055541992px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e632_12650 { 
	color:rgba(20.000000707805157, 21.000000648200512, 34.00000177323818, 1);
	width:34px;
	height:16.923076629638672px;
	position:absolute;
	left:552px;
	top:18.615385055541992px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e632_12651 { 
	width:12.351731300354004px;
	height:3.158977746963501px;
	position:absolute;
	left:716px;
	top:26.2314453125px;
}
.e632_12652 { 
	transform: rotate(180deg);
	background-color:rgba(133.42912584543228, 133.42912584543228, 133.42912584543228, 1);
	width:2.882004737854004px;
	height:3.158977746963501px;
	position:absolute;
	left:2.882004737854004px;
	top:0px;
}
.e632_12653 { 
	transform: rotate(180deg);
	background-color:rgba(133.42912584543228, 133.42912584543228, 133.42912584543228, 1);
	width:2.882004737854004px;
	height:3.158977746963501px;
	position:absolute;
	left:7.616868019104004px;
	top:0px;
}
.e632_12654 { 
	transform: rotate(180deg);
	background-color:rgba(133.42912584543228, 133.42912584543228, 133.42912584543228, 1);
	width:2.882004737854004px;
	height:3.158977746963501px;
	position:absolute;
	left:12.351731300354004px;
	top:0px;
}
